langchain
langchain-community
langchain-core
langchain-huggingface
langchain-ollama
langchain-text-splitters
faiss-cpu
sentence-transformers
pypdf
python-dotenv
fastapi
uvicorn
streamlit
langchain-groq==1.1.3
